/_build/
/deps/
/cover/
/.elixir_ls/
# ExUnit @tag :tmp_dir scratch space
/tmp/
*.ez
*.beam
/jido
.env
erl_crash.dump
.DS_Store

# Bundled dashboard JS (mix assets.build output)
/priv/static/assets/

# Added by ex_harness
/priv/plts/*.plt
/priv/plts/*.plt.hash
/.reach/
/.harness/
/.ex_dna_cache/
